:root {
  /* ### Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* ### Neutral */

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
  font-family: "Karla", sans-serif;
  color: white;
  background: var(--Light-Gray);
}
main {
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 0.5fr auto;
  height: 7 00px;
  grid-template-areas:
    "join join"
    "monthly why-us";
}
.join {
  background: white;
  width: 763px;
  height: 200px;
  border: 1px solid whitesmoke;
  grid-area: join;
  padding: 2rem;
  border-radius: 10px 10px 0px 0px;
}
.monthly {
  background: var(--Cyan);
  width: 350px;
  height: 250px;
  border-radius: 0px 0px 0px 10px;
  grid-area: monthly;
  padding: 2rem;
}
.why-us {
  background: var(--Grayish-Blue);
  width: 350px;
  height: 250px;
  border-radius: 0px 0px 10px 0px;
  grid-area: why-us;
  padding: 2rem;
}
h2 {
  color: var(--Grayish-Blue);
}
.warranty {
  color: var(--Bright-Yellow);
}
.sentence {
  color: var(--Grayish-Blue);
  font-weight: 400;
  width: 550px;
  font-size: 16px;
  line-height: 2rem;
}
.btn-signup {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
  background: var(--Bright-Yellow);
}
.dollar {
  font-weight: 700;
  font-size: 40px;
}
.date {
  color: var(--Light-Gray);
  padding-left: 1rem;
  vertical-align: super;
}
ul {
  color: var(--Light-Gray);
  padding: 0;
  list-style: none;
  line-height: 1.5rem;
}
@media screen and (max-width: 750px) {
  body {
    height: 800px;
  }
  main {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "join"
      "monthly"
      "why-us";
  }
  .join,
  .monthly,
  .why-us {
    width: 289px;
    border-radius: 0;
    height: 280px;
  }
  .join {
    border-radius: 10px 10px 0px 0px;
  }
  .why-us {
    border-radius: 0px 0px 10px 10px;
  }
  .sentence {
    width: 300px;
  }
  h1 {
    width: 350px;
    text-align: left;
  }
}
